# SPDX-FileCopyrightText: 2026 Maarten L. Hekkelman
#
# SPDX-License-Identifier: CC0-1.0

.vscode/
build/
src/revision.hpp
test/XML-Test-Suite/
test/perf.data*
test/.gdb_history
docs/_static/
docs/api
docs/conf.py
.cache/
include/zeem/config.hpp
debian/
